version = 0.1

[default.deploy.parameters]
stack_name = "smart-dressing-api"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
region = "ap-south-1"
parameter_overrides = "SupabaseUrl=\"https://PROJECT.supabase.co\" SupabaseServiceRoleKey=\"\" CorsAllowedOrigins=\"*\" LogLevel=\"info\""
